.Block {
    display:flex;
    align-items:center;
    height:80px;
    width:120px;
    font-size: small;
    justify-content: center;
    background-color: burlywood;
    overflow: auto;
    border: black;
    border-radius: 5px;
    outline: auto;
}